@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'footer';

*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body,
html{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
    background-color: $color-2;
}

